body {
    font-family: 'Poppins', sans-serif;
    background-color: #F8FAFC;
}

.hero {
    padding: 90px 0;
}

.navbar-brand {
    font-size: 1.5rem;
}

.display-4 {
    color: #1E3A8A;
}

.btn-warning {
    color: white;
}